<div class="relativeContainer">
	<div class="headerContainer">
		<div class="joinIconResponsiv">
			<img src="../img/JoinLogoBlack.png" />
		</div>
		<div class="headerText">Kanban Project Management Tool</div>
		<div class="headerIcons" id="header-icons">
			<div class="helpIcon">
				<a href="../html/help.html"><img src="../img/help.png" class="helpPng" /></a>
			</div>
			<div>
				<div class="circle" onclick="notCloseSidebar(event)">
					<div id="initials" class="initials">G</div>
				</div>
				<div id="submenu"></div>
			</div>
		</div>
	</div>

	<div class="sidebar">
		<div>
			<img class="joinLogo" src="../img/join_logo.png" />
		</div>
		<div class="menuItems" id="menu-items">
			<a href="../html/summary.html">
				<div class="menuItem">
					<img src="../img/summary_logo.png" class="menuIcons" />
					<span class="menuText">Summary</span>
				</div>
			</a>

			<a href="../html/add_task.html">
				<div class="menuItem">
					<img src="../img/addTask_logo.png" class="menuIcons" />
					<span class="menuText">Add Task</span>
				</div>
			</a>

			<a href="../html/board.html">
				<div class="menuItem">
					<img src="../img/board_logo.png" class="menuIcons" />
					<span class="menuText"> Board</span>
				</div>
			</a>

			<a href="../html/contacts.html">
				<div class="menuItem">
					<img src="../img/contacts_logo.png" class="menuIcons" />
					<span class="menuText">Contacts</span>
				</div>
			</a>
		</div>
		<div class="menuBottom" id="menu-bottom">
			<div class="menuBottomItem">
				<a href="../html/privacyPolicy.html"
					><span class="menuText bluehover"> Privacy Policy</span></a
				>
			</div>
			<div class="menuBottomItem">
				<a href="../html/legalNotice.html"
					><span class="menuText bluehover"> Legal Notice</span></a
				>
			</div>
		</div>
	</div>
	<div class="sidebarResponsiv" onclick="notCloseSidebar(event)">
		<div class="menuItemsResponsiv" id="menu-items-resp">
			<div>
				<a href="../html/summary.html">
					<div class="menuItemResponsiv">
						<img src="../img/summary_logo.png" class="menuIcons" />
						<span class="menuTextResponsiv">Summary</span>
					</div>
				</a>
			</div>

			<div>
				<a href="../html/add_task.html">
					<div class="menuItemResponsiv">
						<img src="../img/addTask_logo.png" class="menuIcons" />
						<span class="menuTextResponsiv">Add Task</span>
					</div>
				</a>
			</div>
			<div>
				<a href="../html/board.html">
					<div class="menuItemResponsiv">
						<img src="../img/board_logo.png" class="menuIcons" />
						<span class="menuTextResponsiv"> Board</span>
					</div>
				</a>
			</div>

			<div>
				<a href="../html/contacts.html">
					<div class="menuItemResponsiv">
						<img src="../img/contacts_logo.png" class="menuIcons" />
						<span class="menuTextResponsiv">Contacts</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
